h2{
    text-align: center;
    color:#ff3399 ;
}
#img{
    text-align: left;
    font-weight: bolder;
    height: 100;
    width: 10;
}
div{
    display: flex;
}
font{
    color: #ffffff;
    background-color: #ff3399;
}
b{
    color: purple;
}